<div class="dashboard-container">
  <div class="dash-top">
    <h3 class="dash-title">Dashboard</h3>
    <button type="button"(click)="logout()" name="button"><i class="material-icons" >exit_to_app</i></button>
  </div>
  <div class="dash-sm-boxes">
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-blue">
        <i class="material-icons">email</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Total received</p>
      </div>
    </div>
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-pink">
        <i class="material-icons">email</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Unread messages</p>
      </div>
    </div>
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-orange">
        <i class="material-icons">delete</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Deleted messages</p>
      </div>
    </div>
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-purple">
        <i class="material-icons">people</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Total visits</p>
      </div>
    </div>
  </div>
  <div class="dash-center-boxes">
    <div class="inbox-box">
      <div class="inbox-top">
        <h4 *ngIf="showIndex==null">Messages</h4>
        <h4><i class="material-icons" (click)="closeMessage()" *ngIf="showIndex!=null">arrow_back</i></h4>
        <select>
          <option>All</option>
          <option>Read</option>
          <option>Unread</option>
        </select>
      </div>
      <div class="messages-table">
        <div class="full-message-container" [ngClass]="{'active':showIndex != null}">
          <div class="sender-data" *ngIf="showIndex!=null">
            <h4>{{inboxList[showIndex].fullname}}</h4>
            <p>{{inboxList[showIndex].created_at}}</p>
          </div>
          <div class="parag-message" *ngIf="showIndex!=null">
            <p>{{inboxList[showIndex].message}}</p>
          </div>
          <div class="full-message-footer">
            <div class="msg-footer-left">
              <i class="material-icons">bookmark</i><p>mark</p>
            </div>
            <div class="msg-footer-right" *ngIf="showIndex!=null">
              <p>budget: {{inboxList[showIndex].budget}}</p>
              <p>email: <span class="bold">{{inboxList[showIndex].email}}</span></p>
            </div>
          </div>
        </div>
        <table class="table-list" [ngClass]="{'active':showIndex != null}">
          <tr *ngFor="let message of inboxList;index as i">
            <td>
              <div class="sender-container">
                <i class="material-icons">person</i>
                <div>
                  <p class="custom-name">{{message.fullname}}</p>
                  <p class="custom-email">{{message.email}}</p>
                </div>
              </div>
            </td>
            <td>
              <div>
                <p class="budget">{{message.budget}}</p>
              </div>
            </td>
            <td>
              <p class="time">{{message.created_at}}</p>
            </td>
            <td class="message-opener color-blue">
              <i (click)="openMessage(i)" class="material-icons">chevron_right</i>
            </td>
          </tr>
        </table>
        <div class="load-more" *ngIf="pagination.next_page_url != null">
          More...
        </div>
      </div>
    </div>
    <div class="loyal-customers-container">
      <div class="loyal-top">
        <h4>Bookmarked</h4>
        <i class="material-icons">more_horiz</i>
      </div>
      <div class="employee-list">
        <ul>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">bookmark_border</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
