<div class="dashboard-container">
  <h3 class="dash-title">Dashboard</h3>
  <div class="dash-sm-boxes">
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-blue">
        <i class="material-icons">email</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Total received</p>
      </div>
    </div>    
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-pink">
        <i class="material-icons">email</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>New received</p>
      </div>
    </div>    
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-orange">
        <i class="material-icons">delete</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Deleted messages</p>
      </div>
    </div>    
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-purple">
        <i class="material-icons">people</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Total visits</p>
      </div>
    </div>
  </div>
  <div class="dash-center-boxes">
    <div class="inbox-box">
      
    </div>
    <div class="top-offers-box">
      
    </div>
  </div>
</div>