<div class="dashboard-container">
  <h3 class="dash-title">Dashboard</h3>
  <div class="dash-sm-boxes">
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-blue">
        <i class="material-icons">email</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Total received</p>
      </div>
    </div>
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-pink">
        <i class="material-icons">email</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Unread messages</p>
      </div>
    </div>
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-orange">
        <i class="material-icons">delete</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Deleted messages</p>
      </div>
    </div>
    <div class="dash-sm-box">
      <div class="sm-box-left">
        <div class="circle background-purple">
        <i class="material-icons">people</i>
        </div>
      </div>
      <div class="sm-box-right">
        <h4>1900</h4>
        <p>Total visits</p>
      </div>
    </div>
  </div>
  <div class="dash-center-boxes">
    <div class="inbox-box">
      <div class="inbox-top">
        <h4>Messages</h4>
        <select>
          <option>All</option>
          <option>Read</option>
          <option>Unread</option>
        </select>
      </div>
      <div class="messages-table">
        <table>
          <tr>
            <td>
              <div class="sender-container">
                <i class="material-icons">person</i>
                <div>
                  <p class="custom-name">Ralp Dexter Bongato</p>
                  <p class="custom-email">rdc2898@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <div>
                <p class="budget">P1200-100</p>
              </div>
            </td>
            <td>
              <p class="time">9 min ago</p>
            </td>
            <td class="message-opener color-blue"><i class="material-icons">chevron_right</i></td>
          </tr>
          <tr>
            <td>
              <div class="sender-container">
                <i class="material-icons">person</i>
                <div>
                  <p class="custom-name">Ralp Dexter Bongato</p>
                  <p class="custom-email">rdc2898@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <div>
                <p class="budget">P1200-100</p>
              </div>
            </td>
            <td>
              <p class="time">9 min ago</p>
            </td>
            <td class="message-opener color-blue"><i class="material-icons">chevron_right</i></td>
          </tr>
          <tr>
            <td>
              <div class="sender-container">
                <i class="material-icons">person</i>
                <div>
                  <p class="custom-name">Ralp Dexter Bongato</p>
                  <p class="custom-email">rdc2898@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <div>
                <p class="budget">P1200-100</p>
              </div>
            </td>
            <td>
              <p class="time">9 min ago</p>
            </td>
            <td class="message-opener color-blue"><i class="material-icons">chevron_right</i></td>
          </tr>
          <tr>
            <td>
              <div class="sender-container">
                <i class="material-icons">person</i>
                <div>
                  <p class="custom-name">Ralp Dexter Bongato</p>
                  <p class="custom-email">rdc2898@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <div>
                <p class="budget">P1200-100</p>
              </div>
            </td>
            <td>
              <p class="time">9 min ago</p>
            </td>
            <td class="message-opener color-blue"><i class="material-icons">chevron_right</i></td>
          </tr>
          <tr>
            <td>
              <div class="sender-container">
                <i class="material-icons">person</i>
                <div>
                  <p class="custom-name">Ralp Dexter Bongato</p>
                  <p class="custom-email">rdc2898@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <div>
                <p class="budget">P1200-100</p>
              </div>
            </td>
            <td>
              <p class="time">9 min ago</p>
            </td>
            <td class="message-opener"><i class="material-icons">chevron_right</i></td>
          </tr>
          <tr>
            <td>
              <div class="sender-container">
                <i class="material-icons">person</i>
                <div>
                  <p class="custom-name">Ralp Dexter Bongato</p>
                  <p class="custom-email">rdc2898@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <div>
                <p class="budget">P1200-100</p>
              </div>
            </td>
            <td>
              <p class="time">9 min ago</p>
            </td>
            <td class="message-opener"><i class="material-icons">chevron_right</i></td>
          </tr>
          <tr>
            <td>
              <div class="sender-container">
                <i class="material-icons">person</i>
                <div>
                  <p class="custom-name">Ralp Dexter Bongato</p>
                  <p class="custom-email">rdc2898@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <div>
                <p class="budget">P1200-100</p>
              </div>
            </td>
            <td>
              <p class="time">9 min ago</p>
            </td>
            <td class="message-opener"><i class="material-icons">chevron_right</i></td>
          </tr>
        </table>
        <div class="load-more">
          More...
        </div>
      </div>
    </div>
    <div class="loyal-customers-container">
      <div class="loyal-top">
        <h4>Loyal customers</h4>
        <i class="material-icons">more_horiz</i>
      </div>
      <div class="employee-list">
        <ul>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
          <li>
            <i class="material-icons">favorite</i>
            <div class="cus-data">
              <p class="cus-name">Ralp Dexter Bongato</p>
              <p class="cus-mail">rdc2898@gmail.com</p>
            </div>
            <p class="cus-time">8 hours ago</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
